* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

article, .content-container {
  flex: 1;
}

img{
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.content-container{
  margin: 0 auto;
  width: 60%;
  margin-top: 70px;
}

.icon {
  color: blue;
}

/* navbar */
/* 
.nav-menu {
  display: flex;
  width: 100%;
  height: 40px;
  position: fixed;
  background-color:  #ffa949;
  z-index:1;
  justify-content: flex-end;
  list-style: none;
}

.nav-menu li a {
  padding: 10px 25px;
  
}

.nav-menu li a:hover {
  font-size: 18px;
  color: red;
  background-color: yellowgreen;
} */

.nav-menu {
  display: flex;
  width: 100%;
  position: fixed;
  background-color:  #ffa949;
  z-index:1;
  list-style-type: none;
  height: 40px;
}

.nav-menu ul {
  margin:15px;
  padding: 0;
  
}

.nav-menu li a {
  color: yellow;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
  text-align:center;
  margin-right: 50px;
  padding: 10px 10px 10px 10px;
}
.nav-menu li a:hover,
.nav-menu li a:active,
.nav-menu li a:a:focus{
  color: orange;
  font-size: 18px;
}

.nav-link-right {
  margin-left: auto;
}




/* footer */
.nav-menu,.main-footer  {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-footer {
  text-align: center;
  background: #ffa949;
}
.main-footer {
  border-top: 2px solid #dfe2e6;
  border-bottom: 10px solid #ffa949;
}